Body
{
	background-color:grey;
	color: black;
	font-size:150%;
	color:black;
	background-image:url('NBAstats.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	float:center;
	background-size:1280px;
	
}
.table2,td,th,tr
{
	width:1200px;
	border: 1px solid black;
	border-collapse:collapse;
	padding:10px;
	font-family:courier;
	background-image:url('NBAStandings.jpg');
	text-align:center;
}
th
{
	color:Orange;
}
h1
{
	color:Black;
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.7;
	
}
h2
{
	color:Black;
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.8;
}
#table1,th,tr 
{
	text-align:center; 
	Border:1px solid black;
	Border-collapse:collapse;
	font-size:130%;
	padding:10px;
	font-family:Comic Sans Ms; 
}
#para1
{
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.8;
}
td
{
	color:blue;
}
#table3,td,th,tr
{
	width:800px;
	border: 1px solid black;
	border-collapse:collapse;
	padding:10px;
	font-family:courier;
	background-image:url('NBAStandings.jpg');
	text-align:center;
}
img
{
	display: block;
	margin:0 auto;
}
#para2
{
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.8;
	text-align:center;
}
#para3
{
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.8;
	text-align:center;
}
#para4
{
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.8;
	text-align:center;
}

#table4,td,th,tr
{
	width:800px;
	border: 1px solid black;
	border-collapse:collapse;
	padding:10px;
	font-family:courier;
	background-image:url('NBAStandings.jpg');
	text-align:center;
}
