Body
{
	background-color: grey;
	Color:green;
	font-size:150%;
	background-image:url(images/Basketball.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	float:center;
	background-size:1280px;
	
}
Table,th,td 
{
	text-align:center;
	border: 1px solid black;
	border-collapse:collapse;
	padding:10px;
	font-family:courier;
	background-image:url(images/NBAStandings.jpg)
}
h1
{
	color:Firebrick;
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.8;
}
h2
{
	color:Firebrick;
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.8;
}
#para1
{
	background-color:white;
	filter: alpha(opacity=60);
	opacity:0.8;
}
#table1,th,tr 
{
	text-align:center; 
	Border:1px solid black;
	Border-collapse:collapse;
	font-size:130%;
	padding:10px;
	font-family:Comic Sans Ms; 
}
